$color-white: #fff;
$color-black: #000;

// Бренд
$color-primary: #242edb;
$color-primary-light: #797fea;
$color-primary-dark: #3c538e;

// Фоны / поверхности
$color-bg-base: #f9f9f9;
$color-bg-surface: #f3f3f3;
$color-bg-muted: #d5d5d5;
$color-border: #9b9b9b;

// Текст / разделители
$color-divider: #c7c7c7;
$color-text-secondary: #a3a3a3;
$color-text-tertiary: #606060;

// Статусы
$color-danger: #f5222d;
